* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #bcede7;
    justify-content: center;

}
header>a{
    text-decoration: none;
}
.home,
.project,
.skills,
.contact {
    width: 100%;
    margin: auto;
    padding: 20px 50px;
    text-align: center;
    /* border:1px solid #8acbd1; */
    font-weight: bold;
    
}

.contact:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.home:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.project:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.skills:hover {
    background-color: aliceblue;
    cursor: pointer;
}

section {
    padding: 170px;
    width: 70%;


}

.hi,
.name {
    font-size: 28px;
    padding: 10px;
}

.me {
    padding: 10px;
    font-size: 18px;
    max-width: 80%;
}


.photo {
    max-width: 320px;
    /* margin: auto; */
    /* padding: 20px; */
    position: relative;
    left: 690px;
    bottom: 210px;
    /* padding-bottom: 200px; */



}

.photo img {
    width: 100%;
    border-radius: 50%;
}

#buttons {
    position: absolute;
    bottom: 35%;
    /* padding: 10px; */
    width: 100%px;
}

#buttons>button {
    padding: 10px 22px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

#buttons>#a {
    font-size: 20px;
    color: wheat;
}

.cv:link {
    color: wheat;
}

.cv:visited {
    color: yellow;
}

#buttons>#b2 {
    background-color: black;
}

article {
    display: flex;
    background-color: #7acdca;
}

#left {
    float: left;
    width: 50%;
    padding: 20px;
    position: relative;
    height: 80%;

}

#left>h1 {
    padding: 20px;
}

#left>p {
    width: 80%;
    font-size: 18px;
    padding: 20px;
}

#right {
    float: right;
    width: 50%;
    padding: 20px;
    height: 80%;
}

#right>.box1>h1 {
    padding: 20px;
}

#right>.box1>p {
    padding: 20px;
    font-size: 18px;
}

#right>.box2>h1 {
    padding: 20px;
}

#right>.box2>p {
    padding: 20px;
    font-size: 18px;
}

aside>h1 {
    padding: 60px;
}

.project1,.project2 {
    padding: 60px;
}

.project1>#text {
    font-size: 26px;
}

.project1>#photo {
    max-width: 450px;
    padding: 40px 30px;
}

.project1>#photo>a>img {
    width: 100%;
    opacity: 0.8;

}
.project2{
    position: absolute;
    left: 650px;
}
.project1>#photo>a>img:hover{
    opacity: 1;
    cursor: pointer;
}
.project2>#text {
    font-size: 26px;
}

.project2>#photo {
    max-width: 450px;
    padding: 40px 30px;
}

.project2>#photo>a>img {
    width: 100%;
    opacity: 0.8;

}
.project2>#photo>a>img:hover{
    opacity: 1;
    cursor: pointer;
}
.contactme{
    position: absolute;
    /* left: 700px; */
    bottom: -1800px;
    background-color: #eee;
    width: 100%;
    
}
.contactme>.text{
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
table{
    text-align: center;
    padding: 30px;
    width: 100%;
    margin: auto;
    font-size: 20px;
}
table td{
    padding: 10px;
}
#txt{
    opacity: 0.9;
    color: #828988;
}
.github,.linkedin{
    display: inline;
    left: 750px;
    position: relative;
}
.fa-brands{
    opacity: 0.7;
    font-size: 30px;
}
.fa-brands:hover{
    opacity: 1;
}
footer{
    font-size: 20px;
    position: relative;
    bottom: -900px;
    padding: 30px;
    text-align: center;
    color: #828988;
}
